body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  color: #333;
}

.container {
  width: 40%;
  max-width: 1200px;
  margin: 20px auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  margin: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}
#logo {
  margin-left: 50px;
}

header nav ul li a.active {
  color: #d84792;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 5px;
  padding: 0;
}

form input,
form textarea,
form button {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background: #5cb85c;
  color: #fff;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #d12877;
}

.container .box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #ffffff00;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.container .box h3 {
  margin: 0;
  font-size: 18px;
}

.container .box p {
  margin: 0;
}
main {
  display: flex;
  background-image: url(/dp-big-portfolio-07-1024x683.jpg);
  margin: 30px;
}
header {
  background-color: #000000;
}
